@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }

  .scrollbar-track-gray-200::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  .scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    background: #9ca3af;
  }
}
